page-places {
    
    input.ng-invalid {
    background-color: rgb(18, 27, 18);
}
.list .item {
    background-color:#e7e6fc;
    border-width: 1px ridge #C0C0C0;
   
   }
  
  .list {
    margin-top:0%;
    
  }
  
}
