page-home {
    
    #map {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0%;
        height: 100%;
        width: 100%;
        position: relative;
       
      }

      .stylePage{
          background-color:lightslategray;
        
      }  
    
}
